html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  /* border:
  outline:
  color:
  text-align:
  text-decoration:
  vertical-align:
  box-sizing:
  background: */
}

ol, ul {
  list-style: none;
}

img {
  /* display: */
  width: 100%;
  height: auto;
}

link, a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #5D5D57;
  text-decoration: none;
}
